*{
    margin: 0;
    padding: 0;
}
body{
    font-family: poppins;
}
.box-model{
    width: 400px;
    height: 400px;
    background-color: black;
    color: white;
    padding: 20px;
    margin: 30px auto;
    border: 20px double crimson;
}

.box-model p{
    color: crimson;
}